# Get a free Groq API key from https://console.groq.com/keys
GROQ_API_KEY=
NEXT_PUBLIC_GROQ_API_KEY=

# Mapbox API Token (Optional: Default Carto Dark Matter vector map style fallback is active)
NEXT_PUBLIC_MAPBOX_TOKEN=

